[buildout]
extends = http://svn.plone.org/svn/collective/buildout/plonetest/test-4.x.cfg
develop = .
parts += 
    templer
    omelette
versions = versions
package-name = collective.behavior.textcaptcha

# extensions = 
#     mr.developer
# sources = sources
# auto-checkout =
#     collective.behavior.shortidfromlongtitle

# always-checkout = False

eggs += 
	plone.reload
	collective.zodbbrowser
    plone.reload
    Products.DocFinderTab
    collective.behavior.textcaptcha
    
#    aws.zope2zcmldoc
#	eea.facetednavigation

[versions]

[omelette]
recipe=collective.recipe.omelette
eggs=${instance:eggs}

[templer]
recipe = zc.recipe.egg
eggs =
    PasteScript
    templer.core
    templer.zope
    templer.plone
    templer.dexterity
    ${instance:eggs}

entry-points = paster=paste.script.command:run

[sources]
collective.behavior.shortidfromlongtitle = git git://tucuxi.univ-brest.fr/collective.behavior.shortidfromlongtitle.git rev=0.1
